<app-navbar *ngIf="mostrarNavbar"></app-navbar>

<div [style.padding-top]="mostrarNavbar ? '70px' : '0'" style="min-height: 100vh; background-color: #121212;">
  <router-outlet></router-outlet>
</div>

<div [style.padding-top]="mostrarNavbar ? '70px' : '0'">
  <!--<router-outlet></router-outlet>-->
  <app-vista-radio></app-vista-radio>

  <!--<app-cabina></app-cabina>-->

  <!--<app-perfil></app-perfil>-->

  <!--<app-temas></app-temas>-->

  <!--<app-propuesta></app-propuesta>-->

  <!--<app-ventas></app-ventas>-->
</div>